*{
    background-color: darkred;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#recipe-list{
    height: 200px;
    width: 600px;
    background-color: antiquewhite;
}

a{
    color: black;
    background-color: antiquewhite;
    font-size: 18px;
    text-decoration: none;
}

a:hover{
    color: darkred;
}
